body {
    background-color: #aad9be;
    text-align: center;
    line-height: 1.5;
}

#burger_icon { 
    width: 150px;
}

table {
    margin: auto;
    text-align: left;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}